*{
  box-sizing: border-box;
}

body {
  background: #ecedef;
}

.container {
  background-color: white;
  width: 322px;
  height: 450px;
  margin: 120px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.2);
}

.display{
  height: 140px;
  width: 100%;
  padding: 40px 0;
  background-color: red;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

input[type="text"] {
  background-color: red;
  height: 60px;
  width: 270px;
  border: none;
  outline: none;
  text-align: right;
  color: white;
  font-size: 45px;
  margin: 0 25px;
}

input[type="button"] {
  border: none;
  outline: none;
  border-radius: 15px;
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #ecedef;
  color: #5e5858;
  font-size: 35px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.button-container {
  padding: 5px 25px;
}

input[type="button"]:hover {
  color: white;
  background-color: black;
  transform: rotate(10deg);
  cursor: pointer;
}

#equal {
  background-color: red;
  color: white;
}
