body {
  font-family: sans-serif;
  font-size: 20px;
  background-image: linear-gradient(
    115deg,
    rgb(26, 124, 199),
    rgb(181, 53, 159)
  );

  background-attachment: fixed;
}

.top {
  text-align: center;
  color: white;
}

form {
  width: 60%;
  background-color: #2b2851;
  margin: 0 auto;
  color: white;
  border-radius: 8px;
  padding: 10px 40px;
}

.abc {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  padding: 25px;
  font-size: 20px;
}

textarea {
  min-height: 200px;
  max-width: 100%;
}

button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  color: white;
  background-color: green;
  font-size: 25px;
  margin-top: 20px;
  padding: 10px 0;
}
